FAPI2 SP ID2: Keycloak needs to return "invalid_request" or "invalid_grant" or "invalid_client" as Token Refresh response without DPOP proof

### Describe the bug

Supporting a conformance test whose spacification is as follows:
Operation: Manual
Conformance Test: FAPI2-SP-ID2
Conformance Suite: release-v5.22
Keycloak: 26.0.5
Test Profile:
- sender_constrain=dpop
- client_auth_type=mtls
- openid=plain_oauth
- fapi_profile=plain_fapi
Test: fapi2-security-profile-id2-refresh-token

This test ensures that This tests obtains refresh tokens and performs various checks, including checking that the refresh token is correctly bound to the client.

According to [Section 5.2 of RFC 6749](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2), Keycloak needs to return "invalid_request" or "invalid_grant" or "invalid_client" as Token Refresh response without DPOP proof



### Version

keycloak: 26.0.5, conformace-suite: release-v5.1.22

### Expected behavior

invalid_request or invalid_grant or invalid_client



### Actual behavior

invalid_dpop_proof

### How to Reproduce?

Supporting a conformance test whose spacification is as follows:
Operation: Manual
Conformance Test: FAPI2-SP-ID2
Conformance Suite: release-v5.22
Keycloak: 26.0.5
Test Profile:
- sender_constrain=dpop
- client_auth_type=mtls
- openid=plain_oauth
- fapi_profile=plain_fapi
Test: fapi2-security-profile-id2-refresh-token


### Anything else?

_No response_

resolved.