FAPI2 SP ID2: Keycloak needs to support Authorization Code Binding to a DPoP Key

### Description

To pass some tests of FAPI2 SP conformance tests, Keycloak needs to support  Authorization Code Binding to a DPoP Key using  OPTIONAL `dpop_jkt` parameter defined in [Section 10 of RFC 9449 DPoP](https://datatracker.ietf.org/doc/html/rfc9449#section-10).

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

resolved by https://github.com/keycloak/keycloak/issues/34990